<table style="margin: 0 20px;">
	<tr>
		<td style="border: 1px solid; border-radius: 10px;">
			<table style="margin: 0 10px">
				<%= form_for(@cliente_novo) do |f| %>
					<tr>
						<td> Tipo de Cliente: </td>
						<td> 
							<%= f.radio_button :tp_cliente , true %>
							Pessoa Física						 
							<%= f.radio_button :tp_cliente , false %>
							Pessoa Jurídica
						</td>

					</tr>
					<tr>
						<td> Nome: </td>
						<td> <%= f.text_field :nome , :size => "40" %> </td>
					</tr>
					<tr>
						<td> Sexo: </td>
						<td>
						 <%= f.radio_button :sexo , 'm' %>
						 <%= f.label :sexo , "Masculino" %>
						 <%= f.radio_button :sexo , 'f' %>
						 <%= f.label :sexo , "Feminino" %>
						 	|					
						 	Data de nascimento:
							<%= f.date_field :dt_nacimento %>
						</td>
						
					</tr>
					<tr>
						<td> Razão Social: </td>
						<td> <%= f.text_field :rz_social , :size => "60" %>
					</tr>
					<tr>				
						<td> CEP: </td>
						<td>
						 <%= f.text_field :cep , :size => "8" , :maxlegth => 8 , :id => "cep" , :onBlur => "buscacep()" , :onKeypress => "limpacampos()" %>
						 <%= f.label " ", :id => "lcep" %> 
						 <%= link_to "Localizar" , "#" %>
						</td>
					</tr>
					<tr>
						<td> Rua: </td> 
						<td>
						 <%= f.text_field :endereco , :size => "35" , :id => "endereco" %> 
							Número:
							<%= f.number_field :numero , :id => "numero" %>							
						</td>									
					</tr>
					<tr>
						<td> Bairro: </td>
						<td> 
							<%= f.text_field :bairro , :size => "20" , :id => "bairro" %> 
							Cidade:
							<%= f.text_field :cidade , :size => "20" , :id => "cidade" %>
							Estado:
							<%= f.text_field :estado , :size => "2" , :id => "estado"%>
						</td>
					</tr>
					<tr>
						<td> E-mail: </td>
						<td> <%= f.email_field :email , :size => "40" %>
					</tr>
					<tr>
						<td> *Telefone 1: </td>
						<td>
							<%= f.telephone_field :telefone1 %> 
							Telefone 2: 
							<%= f.telephone_field :telefone2 %> 
							Telefone 3: 
							<%= f.telephone_field :telefone3 %> 
							*Celular: 
							<%= f.telephone_field :celular %> 
						</td>						
					</tr>	
					<tr>
						<td> RG: </td>
						<td>
							<%= f.text_field :rg , :size => "10" %>
							SSP:
							<%= f.text_field :ssp , :size => "2" %>
							CPF:
							<%= f.text_field :cpf , :size => "11" %>
						</td>
					</tr>
					<tr>
						<td> Inscrição Social: </td>
						<td>
							<%= f.text_field :ie , :size => "10" %>
							CNPJ:
							<%= f.text_field :cnpj , :size => "15" %>
						</td>
					</tr>	
					<tr>
						<td> <%= f.submit "Salvar" %> 
						<%= f.submit("Limpar" , {:name => 'reset' , :id => 'reset_button' , :type => "reset"}) %> 
					</td>
					<tr>		
				<% end %>
			</table>
		</td>
	</tr>
</table>