		<div id="tp_cliente">
			Tipo de Cliente: 
			<%= f.radio_button :tp_cliente , true , :checked => true , :onclick => "pessoaf()" %>	
			Pessoa Física						 
			<%= f.radio_button :tp_cliente , false , :onclick => "pessoaj()" %>
			Pessoa Jurídica
		</div>
		<div id="pf" class="pf">		
			Nome: 
			<%= f.text_field :nome , :size => "40" %> <br /> 
			Sexo: 
			<%= f.radio_button :sexo , 'm' %>
			<%= f.label :sexo , "Masculino" %>
			<%= f.radio_button :sexo , 'f' %>
			<%= f.label :sexo , "Feminino" %>
			|	Data de nascimento:
			<%= f.date_field :dt_nacimento %>
		</div>
		<div id="pj" class="pj">
			Razão Social: 
			<%= f.text_field :rz_social , :size => "60" %>
		</div>
		<div id="endereco_clientes" >							
			CEP: 
			<%= f.text_field :cep , :size => "8" , :maxlegth => 8 , :id => "cep" , :onBlur => "buscacep()" , :onKeypress => "limpacampos()" %>
			<%= f.label " ", :id => "lcep" %> 
			<%= link_to "Localizar" , "#" %> <br />			
			Endereço:  
			<%= f.text_field :endereco , :size => "35" , :id => "endereco" %>
			Número:
			<%= f.number_field :numero , :id => "numero" %>	<br>						
			Bairro: 
			<%= f.text_field :bairro , :size => "20" , :id => "bairro" %> 
			Cidade:
			<%= f.text_field :cidade , :size => "20" , :id => "cidade" %>
			Estado:
			<%= f.text_field :estado , :size => "2" , :id => "estado"%>
		</div>
		<div id="dados_cliente">				
			E-mail: 
			<%= f.email_field :email , :size => "40" %> <br />
			*Telefone 1: 
			<%= f.telephone_field :telefone1 %> 
			Telefone 2: 
			<%= f.telephone_field :telefone2 %> 
			Telefone 3: 
			<%= f.telephone_field :telefone3 %> 
			*Celular: 
			<%= f.telephone_field :celular %> 
		</div>
		<div id="pf_dados" class="pf">										
			RG: 
			<%= f.text_field :rg , :size => "10" %>
			SSP:
			<%= f.text_field :ssp , :size => "2" %>
			CPF:
			<%= f.text_field :cpf , :size => "11" %>
		</div>
		<div id="pj_dados" class="pj">
			Inscrição Estadual: 
			<%= f.text_field :ie , :size => "10" %>
			CNPJ:
			<%= f.text_field :cnpj , :size => "15" %>
		</div>			
		<div id="controles">			
			<%= f.submit "Salvar" %> 
			<%= f.submit("Limpar" , {:name => 'reset' , :id => 'reset_button' , :type => "reset"}) %> 
		</div>