<div class="form">
<%= form_for(@cliente_novo) do |f| %>
	<p> Tipo de cliente:		
		<%= f.radio_button :tp_cliente_id ,'2' , :checked => true  %>
			<%= label :tp_cliente_id, 'Pessoa Jurídica' %>
	</p>
	<p> Razão Social: 
		<%= f.text_field :raz_social %>
	<p>
	<p> CPF:
		<%= f.text_field :cnpj%>		
	</p>
	<p> Enredeco: 
	<%= f.select :endereco_id , @endereco.collect { |a| [a.endereco + ", " + a.bairro + ", " + a.cidade + ", " + a.uf , a.id]}%> Nº: <%= f.text_field :endereco_n, :size => "5" %> <%= link_to "Cadastrar", "#" %>
	<p>
	<p> Telefone 1:
		<%= f.text_field :telefone1 %>		
	</p>
	<p> Telefone 2:
		<%= f.text_field :telefone2 %>		
	</p>
	<p> Telefone 3:
		<%= f.text_field :telefone3 %>		
	</p>
	<p> Celular Reponsável:
		<%= f.text_field :celular %>		
	</p>	
	
	<%= f.submit 'Salvar' %>
<% end %>
</div>
