<h1> Editar Cliente </h1>

<div class="form">
<%= form_for(@editar_cliente) do |f| %>
	<p> Tipo de cliente:
		<%= f.radio_button :tp_cliente_id ,'1'  %>
		<%= label :tp_cliente_id, 'Pessoa Física' %>
		<%= f.radio_button :tp_cliente_id ,'2'  %>
		<%= label :tp_cliente_id, 'Pessoa Jurídica' %>
	</p>

	<p> Cliente status:
		<% if @editar_cliente[0].status == false %>			
			<%= f.radio_button :status ,'true'  %>
			<%= label :status, 'Ativar Cliente' %>
				<% else  %>			
			<%= f.radio_button :status ,'false'  %>
			<%= label :status, 'Bloquear cliente' %>
		<% end %>		
	</p>

	<p> Nome: 
	<%= f.text_field :nome %>
	<p>
	<p> Enredeco: 
	<%= f.select :endereco_id , @endereco.collect { |a| [a.endereco + ", " + a.bairro + ", " + a.cidade + ", " + a.uf , a.id]}%> Nº: <%= f.text_field :endereco_n, :size => "5" %> <%= link_to "Cadastrar", "#" %>
	<p>
	<p> Telefone 1:
		<%= f.text_field :telefone1 %>		
	</p>
	<p> Telefone 2:
		<%= f.text_field :telefone2 %>		
	</p>
	<p> Telefone 3:
		<%= f.text_field :telefone3 %>		
	</p>
	<p> Celular:
		<%= f.text_field :celular %>		
	</p>
	<p> RG:
		<%= f.text_field :rg%>		
	</p>
	<%= f.submit 'Salvar' %>
<% end %>
</div>

<%= link_to 'Voltar', action: 'listar' %>