<h1> Cliente: <%= @exibir_clientes[0].nome %> </h1> 
<div class="form">
<table>
	<% @exibir_clientes.each do |cliente| %>	
			<tr>
				<% if cliente.tp_cliente_id == 1 %>
					<td> Nome</td>
					<td> <%= cliente.nome %> </td>
					<% if cliente.tp_cliente_id == 2 %>
						<td> Razão Social</td>
						<td> <%= cliente.raz_social %> </td>
					<% end %>
				<%end%>
			</tr>
			<tr>
				<td> Endereço </td>
				<td> <%= cliente.endereco %>, <%= cliente.endereco_n %> </td>
			</tr>
			<tr>				
				<td> Bairro </td>
				<td> <%= cliente.bairro %> </td>
			</tr>
			<tr>
				<td> Cidade </td>
				<td> <%= cliente.cidade %> UF: <%= cliente.uf %> </td>
			</tr>			
			<tr>
				<td> Telefone 1</td>
				<td> <%= cliente.telefone1 %> </td>
			</tr>
			<tr>
				<td> Telefone 2</td>
				<td> <%= cliente.telefone2 %> </td>
			</tr>
			<tr>
				<td> Telefone 3</td>
				<td> <%= cliente.telefone3 %> </td>
			</tr>
			<tr>
				<td> Celular </td>
				<td> <%= cliente.celular %> </td>
			</tr>
			<tr>
				<td> RG </td>
				<td> <%= cliente.rg %> </td>
			</tr>
			<tr>
				<td> Tipo Cliente</td>
				<td> <%= cliente.tp_cliente %> </td>
			</tr>
			<tr>
				<td> Status cliente </td>
				<td>
				<% if cliente.status == true %>
					Ativo
					<% else %>
					Bloqueado
				<% end %>
				<td>
			</tr>
			<tr>
				<td> Criado em </td>
				<td> <%= cliente.dt_cadastro.strftime('%d/%m/%Y as %H:%M') %></td>
			</tr>
			<tr>
				<td> Ultima alteração </td>
				<td> <% if cliente.ultima_alteracao == nil %>
					<% else %>
					<%= cliente.ultima_alteracao.strftime('%d/%m/%Y as %H:%M')%> 
					<% end %>
				</td>
			</tr>
			<% end %>
</table>
<%= link_to 'Editar' , action: 'editar', id: params[:id] %>
<%= link_to 'Bloquear' , action: 'bloquear', cliente_id: params[:id]  %>
</div>