<h1> Lista de clientes </h1>


	<table>
		<tr>
			<td> Nome</td>			
			<td> Tipo Cliente</td>
			<td> Status cliente </td>
			<td> Cadastrado em </td>
			<td> Ultima alteração </td>
		</tr>
	<% @lista_clientes.each do |cliente| %>		
		<tr>
			<td> <%= cliente.nome %> </td>			
			<td> <%= cliente.tp_cliente %> </td>
			<td>
				<% if cliente.status == true %>
					Ativo
					<% else %>
					Bloqueado
				<% end %>
			</td>
			<td> 				
				<%= cliente.dt_cadastro.strftime('%d/%m/%Y as %H:%M')%> 
			</td>

			<td> 
				<% if cliente.ultima_alteracao == nil %>
				<% else %>
				<%= cliente.ultima_alteracao.strftime('%d/%m/%Y as %H:%M')%> 
				<% end %>
			</td>
				
			<td> <%= link_to 'Exibir detalhes' , action: 'exibir' , id: cliente.id %> </td>
		</tr>
	<% end %>
</table>

<%= link_to 'Cadastrar cliente', action: 'novo' %>