<h1> Lista de clientes </h1>

<%= link_to "Adicionar PF",  { action: 'novo', :controller => "clientes"  ,:tp_cliente => "pf" } %>
<%= link_to "Adicionar PJ",  { action: 'novo', :controller => "clientes" , :tp_cliente => "pj"} %>
<table>
	<tr>
		<td> Nome</td>			
		<td> Tipo Cliente</td>
		<td> Status cliente </td>
		<td> Cadastrado em </td>
		<td> Ultima alteração </td>
	</tr>
	<% @lista_clientes.each do |cliente| %>		
		<tr>
			<td> <%= cliente.nome %><%= cliente.rz_social %> </td>			
			<td> <%= cliente.tp_cliente %> </td>
			<td>
				<% if cliente.status == true %>
						<%=link_to image_tag("icones/apply.ico") , { :action => 'bloquear' , :controller => 'clientes', cliente_id: cliente.id }%>
					<% else %>
						<%= link_to image_tag("icones/erase.ico") , { :action => 'desbloquear' , :controller => 'clientes', cliente_id: cliente.id }%>
				<% end %>
			</td>
			<td> 				
				<%= cliente.created_at.strftime('%d/%m/%Y as %H:%M')%> 
			</td>

			<td> 
				<% if cliente.updated_at == nil %>
				<% else %>
				<%= cliente.updated_at.strftime('%d/%m/%Y as %H:%M')%> 
				<% end %>
			</td>
				
			<td> <%= link_to 'Exibir detalhes' , action: 'exibir' , id: cliente.id %> </td>
		</tr>
	<% end %>
</table>

