<table>

	<% @logradouro.each do |listar| %>
		<tr>
			<td> ID  <%= listar.id %> </td>
		</tr>
		<tr>
			<td> Endereço: <%= listar.endereco %> </td>
		</tr>
		<tr>
			<td> Bairro: <%= listar.bairro %>  </td>
		</tr>
		<tr>
			<td> Cidade: <%= listar.cidade %> </td>
		</tr>
		<tr>
			<td> UF: <%= listar.uf %> </td>
		</tr>
		<tr>
			<td> Bloqueado: <%= listar.status %> </td>
		</tr>
	<% end %>
</table>

<%= link_to "Editar" , action: 'editar' , :id => params[:logradouro_id] %>