<!DOCTYPE html>
<html>
<head>
  <title> Osmanager </title>

  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>  
  <%= javascript_include_tag "application", "jquery-1.11.1" => true %>

  <%= csrf_meta_tags %>
</head>
<body>
	<% flash.each do |tipo , msg|%>
		<div class="#{tipo}">
     <%= msg %> 
     <% if tipo == notice %>
      <%= image_tag("icones/OK.ico") %>     
     <% end %>
    </div>
	<% end %>
    
  <%= link_to "Menu" , :controller => "menu" , :action => "index" %>
  <%= link_to "Clientes" , :controller => "clientes" , :action => "listar" %>
  <%= link_to "Funcionario" , :controller => "funcionarios" , :action => "listar" %>
  <%= link_to "Logradouros" , :controller => "logradouros" , :action => "listar" %>
  <%= link_to "Servicos" , :controller => "servicos" , :action => "listar" %>
  <%= link_to "OS" , :controller => "ordem_servicos" , :action => "listar" %>

<%= yield %>

</body>
</html>
